/* margin: 2rem 15rem 0 15rem; */


.section-1 {
    height: 45vh;
    width: 100%;
    background: linear-gradient(141deg,#fc5b3a 0,#f02541 100%);
}

html {
    scroll-behavior: smooth;
}

.section-1 h1{
    font-size: 90px;
    color:transparent;
    -webkit-text-stroke: 2px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    animation-play-state: running;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}


/* .section-3 {
    background-color: #f5f5f5;
    height: 50vh;
} */

.img-fluid{
    width: 60px;
    /* margin: 0 5px 0 15px; */
}

#foooter-img {
    width: 35px;
    /* margin: 0 5px 0 15px; */
}

.section-4{
    height:25vh;
}

.heart {
    background-image: url("images/love.png");
    background-size: 100%;
    margin-left: 5px;
    margin-right: 5px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    top: 10px;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse 2s ease infinite,
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}